body {
  margin: 0;
  padding: 0;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

@font-face {
  font-family: "Pixel Sans";
  src: url("pixel-sans.woff2") format("woff2"), url("pixel-sans.woff") format("woff"), url("pixel-sans.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 14px;
}

body {
  background: #008080;
  font-family: "Pixel Sans", monospace;
}
body button {
  font-family: "Pixel Sans", monospace;
  border-top: 0.2rem solid #ececec;
  border-left: 0.2rem solid #ececec;
  border-bottom: 0.2rem solid #474747;
  border-right: 0.2rem solid #474747;
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  background: lightgray;
}
body button:active {
  border-bottom: 0.2rem solid #ececec;
  border-right: 0.2rem solid #ececec;
  border-top: 0.2rem solid #474747;
  border-left: 0.2rem solid #474747;
}
body img {
  image-rendering: crisp-edges;
}

.hide-for-screen {
  display: none;
}

@media (min-width: 63rem) {
  #desktop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

#shortcuts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 63rem) {
  #shortcuts {
    width: 20.4rem;
  }
}
#shortcuts figure {
  width: calc(50% - 2.6rem);
  min-height: 7.6rem;
  padding: 0.26rem;
  margin: 1.04rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  z-index: 0;
}
@media (min-width: 63rem) {
  #shortcuts figure {
    width: 7.6rem;
  }
}
#shortcuts figure img {
  width: 5rem;
  padding-bottom: 0.4rem;
}
#shortcuts figure label {
  cursor: pointer;
  text-align: center;
  padding: 0 0.2rem;
  font-size: 0.8rem;
}
#shortcuts figure:active img, #shortcuts figure:focus img {
  filter: invert(10%) sepia(95%) saturate(7489%) hue-rotate(247deg) brightness(50%) contrast(125%);
}
#shortcuts figure:active label, #shortcuts figure:focus label {
  background: #000080;
}

#window {
  padding: 0.2rem;
}
@media (min-width: 63rem) {
  #window {
    position: relative;
    padding: 2rem;
  }
}
#window article {
  display: none;
  background: #c6c6c6;
  border-top: 0.2rem solid #ececec;
  border-left: 0.2rem solid #ececec;
  border-bottom: 0.2rem solid #474747;
  border-right: 0.2rem solid #474747;
  color: #000000;
  padding: 0.25rem 0.25rem 0.85rem 0.25rem;
  width: calc(100% - 0.9rem);
  max-width: 50rem;
}
#window article.active {
  display: block;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
@media (min-width: 63rem) {
  #window article.active {
    position: unset;
  }
}
#window article.wide {
  max-width: 48rem;
}
#window article header {
  color: #ffffff;
  background: #000080;
  padding: 0.2rem 0.3rem 0.2rem 1rem;
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#window article header button {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.2em 0.35em 0.35em 0.45em;
  line-height: 1;
}
#window article header button:before {
  content: "X";
}
#window article main {
  border-bottom: 0.2rem solid #ececec;
  border-right: 0.2rem solid #ececec;
  border-top: 0.2rem solid #474747;
  border-left: 0.2rem solid #474747;
  background: #ffffff;
  max-height: 80vh;
  overflow-y: auto;
}
#window article main h1, #window article main h2, #window article main h3, #window article main h4 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-bottom: 0;
}
#window article main h1 em, #window article main h2 em, #window article main h3 em, #window article main h4 em {
  color: #999999;
}
#window article main h1 {
  text-transform: uppercase;
  color: #999999;
}
#window article main h2 {
  margin-top: 0.75em;
  font-size: 1.1rem;
}
#window article main h2 strong {
  display: block;
  font-size: 1.3em;
}
#window article main h4 {
  margin-top: 0.25rem;
  font-size: 0.9rem;
}
#window article main p {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
#window article main p > img {
  width: 75%;
  margin: 0 auto 1rem;
  display: block;
}
@media (min-width: 63rem) {
  #window article main p > img {
    float: right;
    padding-left: 1.5rem;
    width: 40%;
  }
}
#window article main ul {
  padding-left: 1.75rem;
  padding-right: 0.75rem;
}
#window article main table {
  width: 100%;
  border-spacing: 0;
}
#window article main table th {
  border-top: 0.2rem solid #ececec;
  border-left: 0.2rem solid #ececec;
  border-bottom: 0.2rem solid #474747;
  border-right: 0.2rem solid #474747;
  background: #c6c6c6;
}
#window article main table td {
  padding: 0.25em 0.7em;
}

#toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background: #c6c6c6;
  border-top: 0.2rem solid #ececec;
  padding: 0.3rem;
}
#toolbar button {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
#toolbar button img {
  margin-right: 0.4rem;
  width: 2em;
  height: 2em;
}
#toolbar aside {
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  padding: 0 0.6rem;
  border-bottom: 0.2rem solid #ececec;
  border-right: 0.2rem solid #ececec;
  border-top: 0.2rem solid #474747;
  border-left: 0.2rem solid #474747;
}

/*# sourceMappingURL=index.css.map */
