@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
body {
  margin: 0;
  padding: 0;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

html {
  background: #d8d1be;
}

body {
  background: radial-gradient(circle 100vw at 0 0, #9f1f1f, #b73d98 75%, transparent), radial-gradient(circle 75vw at 100vw 50vh, #55498a, #55498a 60%, transparent), radial-gradient(circle 100vw at 0 100vh, #d3a542, #d3a542 70%, transparent), radial-gradient(circle 100vw at bottom right, #9f1f1f, #b73d98 75%, transparent), radial-gradient(circle 75vw at bottom left, #b73d98, #55498a 20%, #55498a 80%, transparent), radial-gradient(circle 100vw at center right, #d3a542, #d3a542 70%, transparent);
  color: #19181a;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 5rem;
  font-style: italic;
}

h2 {
  font-size: 3rem;
  font-style: italic;
}

h3 {
  margin-top: 1.5em;
  font-size: 2rem;
}

h4 {
  margin-top: 1.25em;
  margin-bottom: 0.25em;
}

a {
  color: #19181a;
  text-decoration: underline;
  font-weight: bold;
  transition: opacity 250ms;
}
a:hover, a:focus {
  opacity: 0.6;
}

nav {
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 44rem) {
  nav {
    padding: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}
nav .logo img {
  height: 3rem;
}
nav .links {
  display: flex;
}
@media (min-width: 44rem) {
  nav .links {
    flex-direction: column;
  }
}
nav .links a {
  text-align: right;
  margin-bottom: 1em;
  margin-left: 1em;
}

section {
  border-top: 1px solid;
  margin: 2rem 1rem;
  padding-top: 2rem;
  max-width: 42rem;
}
@media (min-width: 44rem) {
  section {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    margin-top: 5rem;
  }
}
section:first-of-type {
  padding-top: 0rem;
  border-top: none;
  margin-top: 0;
}
@media (min-width: 44rem) {
  section:first-of-type {
    padding-top: 6rem;
  }
}
section p {
  display: flex;
  justify-content: space-between;
}
section p > img {
  width: 49%;
}
section p > img:first-child:last-child {
  width: 100%;
}
section blockquote {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
@media (min-width: 44rem) {
  section blockquote {
    width: calc(100vw - 2rem);
    margin-left: calc(21rem - 50vw);
    padding: 0 1rem;
  }
}
section blockquote img {
  max-width: 30%;
  margin: 0 0.5rem;
  display: inline-block;
}
section ul {
  padding-left: 1.5rem;
}
section ul li {
  padding-bottom: 0.5em;
}

footer {
  padding: 5rem 1rem;
  background: #19181a;
}
footer .links {
  margin: auto;
  max-width: 42rem;
}
footer .links a {
  color: #d8d1be;
  margin-right: 2em;
}

/*# sourceMappingURL=site.css.map */
