.article {
  @include narrow-content();
  padding-top: 3rem;
  padding-bottom: 3rem;

  .article__heading {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .article__paragraph {
    margin: 0 0 1rem;
    line-height: 1.5;
  }
}