@import "all-includes";

.footer {
  text-align: center;
  padding: 3rem 1rem;
  color: lighten($color-text, 50%);

  .footer__email {
    @include standard-link();
  }

  .footer__social {
    @include flexbox();
    @include justify-content(center);
    margin-bottom: 0.75rem;

    .footer__social__link {
      font-size: 2rem;
      display: block;
      @include standard-link();
      margin: 0 0.75rem;
    }
  }

  .footer__copyright {
    padding-top: 1rem;
  }
}