@import "all-includes";

.header {
  text-align: center;

  .header__top {
    background: $color-poppy;
    padding-top: 22.5vh;
    padding-bottom: 0.5rem;

    .header__top__title {
      color: $color-white;
      font-family: $font-family-header;
      font-size: 4rem;
    }
  }

  .header__bottom {
    padding-top: 1rem;
    padding-bottom: 3rem;

    .header__bottom__text {
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 1.25rem;
      font-weight: bold;
      color: $color-poppy;
      display: inline-block;
    }
  }

  &.header--home {
    $header-animation-time: 1000ms;

    .header__top {
      padding-top: 33vh;
      overflow-y: hidden;

      .header__top__title {
        font-size: 8.125rem;
        position: relative;

        @include apply-animation(headerTopEntrance, $header-animation-time) {
          from {
            bottom: -2em;
          }
          to {
            bottom: 0;
          }
        }
      }
    }

    .header__bottom {
      overflow-y: hidden;

      .header__bottom__text {
        position: relative;

        @include apply-animation(headerBottomEntrance, $header-animation-time * 0.75) {
          from {
            top: -2em;
          }
          to {
            top: 0;
          }
        }
        @include animation-fill-mode(both);

        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            @include animation-delay($header-animation-time * 0.2 * $i);
          }
        }
      }
    }
  }
}

