.home-section {
  @include wide-content();
  padding-top: 3rem;
  padding-bottom: 3rem;

  .home-section__header {
    font-size: 2rem;
    font-family: $font-family-header;
    text-align: center;
    margin-bottom: 3rem;
  }

}