
// COLORS
$color-poppy: #F15C4D;
$color-marigold: #FDC36F;
$color-iris: #407afd;
$color-white: #FFFFFF;
$color-text: #444444;
$color-gray-light: #DDD;

// DIMENTIONS
$content-width-wide: 62.5rem;
$content-width-narrow: 35rem;

// Fonts
$font-family-header: 'Fjalla One', sans-serif;
$font-family-nomral: 'Lato', sans-serif;