<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Paul Armer</title>
    <meta name="description" content="Software Engineer | Climate Activist | Table Tob Nerd">
    <meta name="author" content="Paul Armer">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="media/favicon.ico">
    <link rel="stylesheet" media="screen" href="index.css">
    <link rel="stylesheet" media="print" href="resume.css">
</head>

<body>
    {{contents}}
</body>

</html>