<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Paul Armer</title>
    <meta name="description" content="Software Engineer | Climate Activist | Table Tob Nerd">
    <meta name="author" content="Paul Armer">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section id="desktop">
        {{shortcuts}}
    </section>
    <section id="window">
        {{windows}}
    </section>
    <section id="toolbar">
        <button>
            <img src="https://win98icons.alexmeub.com/icons/png/windows-0.png" />
            Paul Armer
        </button>
        <aside>Icons from&nbsp;<a href="https://win98icons.alexmeub.com/">Alex Meub</a></aside>
    </section>

    <script src="scripts.js" defer="defer"></script>
</body>

</html>