<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Paul Armer's Resume</title>
    <meta name="description" content="Technical Product Manager | Multi-media Artist | Table Tob Nerd">
    <meta name="author" content="Paul Armer">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="/media/favicon.ico">
    <link rel="stylesheet" media="screen,print" href="/resume.css">
</head>

<body>
    <script type="application/javascript">
        window.print()
    </script>
    {{contents}}
</body>

</html>