body {
	margin: 0;
	padding: 0;
}

figure {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

$bark-rgb: #db7f46;
$leaf-rgb: #8faf70;
$sun-start-rgb: #c5ae7b;
$sun-mid-rgb: #a7586b;
$sun-end-rgb: #773569;
$dark-rgb: #0b3757;
$bg-rgb: #e5ded9;