@use "sass:math";
@import 'reset';

@font-face {
	font-family: "NationalPark";
	src:
	  url("/media/nationalpark-variable.woff2") format("woff2"),
	  url("/media/nationalpark-variable.woff") format("woff"),
	  url("/media/nationalpark-variable.ttf") format("ttf");
  }
  

$bark-rgb: #db7f46;
$leaf-rgb: #81b053;
$sun-start-rgb: #d9d75b;
$sun-end-rgb: #58276d;
$dark-rgb: #1c2165;
$bg-rgb: #f3f1ec;

$tree-ratio: math.div(123, 210);
$tree-height: 70vh;
$tree-width: $tree-height * $tree-ratio;
$tree-gutter: 5rem;

html {
	background: $bg-rgb;
}

body {
	background: linear-gradient(180deg, $bg-rgb, $sun-start-rgb, $sun-end-rgb);
	color: $dark-rgb;
	font-family: 'NationalPark', sans-serif;
}

#tree {
	position: fixed;
	top: 0;
	left: 0;
	height: $tree-height;
	width: $tree-width;
	border-width: math.div((101vh - $tree-height), 2) $tree-gutter; 
	border-style: solid;
	border-color: $bg-rgb;
	fill: transparent;

	&_name {
		background: $bg-rgb;
		padding-bottom: 1rem;
		font-size: 2rem;
		font-weight: 900;
		text-align: center;
	}

	svg {
		position: absolute;
		width: $tree-width;
	}

	&_bark {
		fill: $bark-rgb;
	}

	&_greenery {
		fill: $leaf-rgb;
	}

	&_outline {
		fill: $dark-rgb;
	}

	&_negative {
		fill: $bg-rgb;
	}
}

#content_container {
	margin-left: calc((2 * $tree-gutter) + $tree-width);
	background: $bg-rgb;
	overflow: hidden;
}

#content {
	max-width: 40em;

	img {
		max-width: 100%;
	}
}