@use "sass:math";
@import 'reset';

@font-face {
	font-family: "NationalPark";
	src:
	  url("/media/nationalpark-variable.woff2") format("woff2"),
	  url("/media/nationalpark-variable.woff") format("woff"),
	  url("/media/nationalpark-variable.ttf") format("ttf");
  }
  

$bark-rgb: #db7f46;
$leaf-rgb: #81b053;
$sun-start-rgb: #c7a763;
$sun-end-rgb: #733f50;
$dark-rgb: #0b3757;
$bg-rgb: #e5ded9;

$tree-ratio: math.div(123, 210);
$tree-height: 65vh;
$tree-width: $tree-height * $tree-ratio;
$tree-gutter-side: 6rem;
$tree-gutter-vert: math.div((101vh - $tree-height), 2);

html {
	background: $bg-rgb;
}

body {
	background: linear-gradient(180deg, 
		($bg-rgb 0), 
		($sun-start-rgb 30%), 
		($sun-end-rgb 100%)
	);
	color: $dark-rgb;
	font-family: 'NationalPark', sans-serif;
}

#tree {
	position: fixed;
	top: 0;
	left: 0;
	height: $tree-height;
	width: $tree-width;
	border-width: ($tree-gutter-vert - 5vh) $tree-gutter-side ($tree-gutter-vert + 5vh); 
	border-style: solid;
	border-color: $bg-rgb;
	fill: transparent;

	&_name {
		background: $bg-rgb;
		padding-bottom: 1rem;
		font-size: 2rem;
		font-weight: 900;
		text-align: center;
	}

	svg {
		position: absolute;
		width: $tree-width;
	}

	&_bark {
		fill: $bark-rgb;
	}

	&_greenery {
		fill: $leaf-rgb;
	}

	&_outline {
		fill: $dark-rgb;
	}

	&_negative {
		fill: $bg-rgb;
	}
}

#content_container {
	margin-left: calc((2 * $tree-gutter-side) + $tree-width);
	background: $bg-rgb;
	overflow: hidden;
}

#content {
	max-width: 40em;
	padding: calc($tree-gutter-vert + 1rem) 0;
	line-height: 1.35;

	img {
		max-width: 100%;
	}

	ul {
		padding-left: 1.5rem;

		li {
			padding-bottom: 0.5em;
		}
	}
}