@use "sass:math";
@import 'shared';


@font-face {
	font-family: "NationalPark";
	src:
		url("/media/nationalpark-variable.woff2") format("woff2"),
		url("/media/nationalpark-variable.woff") format("woff"),
		url("/media/nationalpark-variable.ttf") format("ttf");
} 

$mobile-cuttoff: 600px;
$widescreen-cutoff: 1000px;

$tree-ratio: math.div(123, 210);
$tree-small-height: 5rem;
$tree-small-width: $tree-small-height * $tree-ratio;
$tree-big-height: 65vh;
$tree-big-width: $tree-big-height * $tree-ratio;
$tree-gutter-side: 3rem;
$tree-gutter-side-wide: 6rem;
$tree-gutter-vert: math.div((101vh - $tree-big-height), 2);

html {
	background: $bg-rgb;
}

body {
	background: linear-gradient(180deg, 
		($bg-rgb 0), 
		($sun-start-rgb 10%), 
		($sun-mid-rgb 40%),
		($sun-end-rgb 70%),
		($dark-rgb 100%),
	);
	color: $dark-rgb;
	font-family: 'NationalPark', sans-serif;
}

#tree {
	position: fixed;
	fill: transparent;
	top: 0;
	left: 0;
	z-index: 2;

	height: $tree-small-height;
	width: 100%;

	svg {
		position: absolute;
		width: $tree-small-width;
		top: 0;
		left: 0;
	}

	@media (min-width: $mobile-cuttoff) {
		height: $tree-big-height;
		width: $tree-big-width;
		border-style: solid;
		border-color: $bg-rgb;
		border-width: $tree-gutter-vert $tree-gutter-side $tree-gutter-vert; 
	
		svg {
			width: $tree-big-width;
			right: unset;
		}
	}

	@media (min-width: $widescreen-cutoff) {
		border-left-width: $tree-gutter-side-wide;
		border-right-width:$tree-gutter-side-wide; 
	}

	&_name {
		background: $bg-rgb;
		font-size: 2rem;
		font-weight: bold;
		left: $tree-small-width;
		right: 0;
		line-height: $tree-small-height;
		padding-left: 1em;
		position: absolute;

		@media (min-width: $mobile-cuttoff) {
			padding-left: 0;
			text-align: center;		
			line-height: 1;
			left: 0;
			top: -2em;
		}

	}

	&_bark {
		fill: $bark-rgb;
	}

	&_greenery {
		fill: $leaf-rgb;
	}

	&_outline {
		fill: $dark-rgb;
	}

	&_negative {
		fill: $bg-rgb;
	}
}

#content_container {
	overflow: hidden;

	&:before {
		content: '';
		display: block;
		background: $bg-rgb;
		position: fixed; 
		left: 0;
		right: 0;
		bottom: 0;
		top: $tree-small-height;
		z-index: 0;
	}

	@media (min-width: $mobile-cuttoff) {
		background: $bg-rgb;
		margin-left: calc((2 * $tree-gutter-side) + $tree-big-width);
		position: relative;

		&:before {
			display: none;
		}

	}

	@media (min-width: $widescreen-cutoff) {
		margin-left: calc((2 * $tree-gutter-side-wide) + $tree-big-width);
	}
}

#content {
	padding: $tree-small-height 0.5rem $tree-small-height $tree-small-width;
	line-height: 1.35;
	position: relative;
	z-index: 1;

	@media (min-width: $mobile-cuttoff) {
		max-width: 40em;
		padding: calc($tree-gutter-vert - 1em) 1em calc($tree-gutter-vert - 1em) 0;
	}

	img {
		max-width: 100%;
	}

	ul {
		padding-left: 1.5rem;

		li {
			padding-bottom: 0.5em;
		}
	}
}