@use "sass:math";
@use "sass:color";
@import 'shared';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

$max-section-width: 42rem;
$section-side-margin: 1rem;
$mobile-cutoff: $max-section-width + 2 * $section-side-margin;

$tree-ratio: math.div(123, 210);
$tree-small-height: 5rem;
$tree-small-width: $tree-small-height * $tree-ratio;
$tree-big-height: 65vh;
$tree-big-width: $tree-big-height * $tree-ratio;
$tree-gutter-side: 3rem;
$tree-gutter-side-wide: 6rem;
$tree-gutter-vert: math.div((101vh - $tree-big-height), 2);

html {
	background: $color-bg;
}

body {
	background: 
		radial-gradient(
			circle 100vw at 0 0, 
			$color-bridge, 
			$color-pride 75%,
			transparent, 
		),
		radial-gradient(
			circle 75vw at 100vw 50vh, 
			$color-fog,
			$color-fog 60%, 
			transparent,
		),
		radial-gradient(
			circle 100vw at 0 100vh, 
			$color-sunshine, 
			$color-sunshine 70%, 
			transparent, 
		),
		radial-gradient(
			circle 100vw at bottom right, 
			$color-bridge, 
			$color-pride 75%,
			transparent, 
		),
		radial-gradient(
			circle 75vw at bottom left, 
			$color-pride,
			$color-fog 20%,
			$color-fog 80%, 
			transparent, 
		),
		radial-gradient(
			circle 100vw at center right, 
			$color-sunshine, 
			$color-sunshine 70%, 
			transparent, 
		);
	color: $color-text;
	font-family: "IBM Plex Mono", monospace;
	font-size: 16px;
	min-height: 100vh;
}

h1, h2, h3 {
	font-family: "Playfair Display", serif;
	font-weight: bold;
	margin: 0;
}

h1 {
	font-size: 5rem;
	font-style: italic;
}
h2 {
	font-size: 3rem;
	font-style: italic;
}
h3 {
	margin-top: 1.5em;
	font-size: 2rem;
}
h4 {
	margin-top: 1.25em;
	margin-bottom: 0.25em;
}
a {
	color: $color-text;
	text-decoration: underline;
	font-weight: bold;
	transition: opacity 250ms;

	&:hover, &:focus {
		opacity: 0.6;
	}
}

nav {
	padding: .75rem;
	display: flex;
	justify-content: space-between;

	@media (min-width: $mobile-cutoff) {
		padding: 1.5rem;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	
	.logo {
		img {
			height: 3rem;
		}
	}

	.links {
		display: flex;

		@media (min-width: $mobile-cutoff) {
			flex-direction: column;
		}

		a {
			text-align: right;
			margin-bottom: 1em;
			margin-left: 1em;
		}
	}
}

section {
	border-top: 1px solid;
	margin: 2rem $section-side-margin;
	padding-top: 2rem;
	max-width: $max-section-width;
	
	@media (min-width: $mobile-cutoff) {
		margin-left: auto;
		margin-right: auto;
		padding-top: 5rem;
		margin-top: 5rem;
	}

	&:first-of-type {
		padding-top: 0rem;
		border-top: none;
		margin-top: 0;

		@media (min-width: $mobile-cutoff) {
			padding-top: 6rem;
		}
	}

	p {
		display: flex;
		justify-content: space-between;

		& > img {
			width: 49%;

			&:first-child:last-child {
				width: 100%;
			}
		}
	}

	blockquote {
		width: 100%;
		padding: 0;
		margin: 0;
		text-align: center;

		@media (min-width: $mobile-cutoff) {
			width: calc(100vw - 2 * $section-side-margin);
			margin-left: calc(($max-section-width / 2) - 50vw);
			padding: 0 $section-side-margin;
		}

		img {
			max-width: 30%;
			margin: 0 0.5rem;
			display: inline-block;
		}
	}

	ul {
		padding-left: 1.5rem;

		li {	
			padding-bottom: 0.5em;
		}
	}
}

footer {
	padding: 5rem $section-side-margin;
	background: $color-text;

	.links {
		margin: auto;
		max-width: $max-section-width;

		a {
			color: $color-bg;
			margin-right: 2em;
		}
	}
}